

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.orange-color{
    color: orange;
}

.gray-color{
    color: #757575;
}

section{
    margin-bottom: 100px;
    /* background-color: lightblue; */
}

.flex-section{
    display: flex;
    /* margin-top: 40px; */
    margin-bottom: 40px;
}

.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.half-width h1{
    font-size: 60px;
    /* line-height: 5px; */
    color: #6C6C6C;
}

.subheading{
    padding-bottom: 50px;
}

.half-width img{
    width: 100%;
}

.orange-gradient-btn{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #FBA24F, #EE4729);
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 11px rgb(250, 228, 215);
    width: 20%;
    text-align: center;

}

.about-me-section{
    background-image: url(../images/shapes/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.about-me img{
    width: 70%;
    margin-left: 20%;
}

.recipes-section-heading{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.recipes-section-heading h2{
    font-size: 40px;
    color: #6C6C6C;
}

.food-item{
    display: flex;
    justify-content: space-between;
}
.recipe{
    width: 25%;
    box-shadow: 0px 10px 65px -27px rgba(0,0,0,0.75);
    padding: 2%;
    border-radius: 10px;
    /* margin-right: 40px; */
}

.recipe img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.recipes-section{
    margin-left: 5%;
    margin-right: 5%;
    
}

footer{
    background-color: #0B0D17;
    height: 200px;
    text-align: center;
}

footer h5{
    color: white;
}

