

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.orange-color{
    color: orange;
}

.gray-color{
    color: #757575;
}

.green-color{
    color: #A8C429;
}

.white-color{
    color: white;
}

section{
    margin-bottom: 100px;
}

.flex-section{
    display: flex;
    margin-bottom: 40px;
}

nav{
    position: sticky;
    top: 0;
}

.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.half-width h1{
    font-size: 60px;
}

.subheading{
    padding-bottom: 50px;
}

.half-width img{
    width: 100%;
}

.orange-gradient-btn{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #FBA24F, #EE4729);
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 11px rgb(250, 228, 215);
    width: 20%;
    text-align: center;
}

.btn:hover{
    box-shadow: 0px 0px 8px 9px rgb(241, 202, 179);
}

.about-me-section{
    background-image: url(../images/shapes/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}

.about-me img{
    width: 70%;
    margin-left: 20%;
}

.recipes-section-heading{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.recipes-section-title{
    font-size: 40px;
}

.food-item{
    display: flex;
    justify-content: space-between;
}
.recipe{
    width: 25%;
    box-shadow: 0px 10px 65px -27px rgba(0,0,0,0.75);
    padding: 2%;
    border-radius: 10px;
}

.recipe:hover{
    box-shadow: 0px 0px 29px -6px rgba(186,169,186,1);

}

.recipe-info{
    text-align: justify;
}

.recipe img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.recipes-section{
    margin-left: 5%;
    margin-right: 5%;   
}

/* subscribe-section */
.subscribe-section{
    display: flex;
    margin-left: 5%;
    margin-right: 5%; 
    justify-content: space-around;
    text-align: center;
    padding: 50px 0px;
    border-radius: 10px; 
    box-shadow: 0px 10px 65px -27px rgba(0,0,0,0.75);
}

.social-follower h1{
    font-size: 50px;
    font-weight: bold;
}
.social-follower p{
    font-weight: bold;
}

.social-icon{
    font-size: 50px;
    color: black;
}



footer{
    background-color: #0B0D17;
    height: 800px;
    text-align: center;
}

.footer-container{
    padding-top: 20px;
}

.footer-social-icon{
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.footer-copyright{
    margin-top: 100px;
}

/* navbar design css */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

/* navbar design css */

  .newsletter{
      background-image: url(../images/food/mix-veg2.jpg);
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }

  .newsletter-content{
      width: 60%;
      color: white;
      font-size: 35px;
      margin-left: 5%;
      padding-top: 10px;
  }

.email-input{
    height: 50px;
    width: 40%;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 20px;
}

.newsletter-submit-btn{
    padding: 10px 40px;
    background-color: #A8C429;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(255,255,255,1);
    cursor: pointer;

}

small{
    font-size: 12px;
}

.social-links img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;

}